@import "~@angular/material/theming";

@mixin toolbar-theme($theme) {
  $accent: map-get($theme, primary);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  .toolbar {
    @include mat-elevation(8);

    #day_mode {
      margin-right: 1em;
      cursor: pointer;
    }

    #night_mode {
      margin-left: 1em;
      cursor: pointer;
    }
  }
}
