<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <mat-icon color="accent" svgIcon="sun" id="day_mode"
      (click)="toggleDarkTheme(checked)"></mat-icon>
    <mat-slide-toggle [checked]="isDarkTheme | async"
      (change)="toggleDarkTheme($event.checked)">
    </mat-slide-toggle>
    <mat-icon color="accent" svgIcon="night" id="night_mode"
      (click)="toggleDarkTheme(!checked)"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
