<div class="tile">
  <div class="tile-row-1">
    <p>
      <ng-content></ng-content>
    </p>
  </div>
  <div class="tile-row-2">
    <div>
      Test
    </div>
    <div>
      Test 2
    </div>
  </div>
</div>
