@import "~@angular/material/theming";

@mixin tile-theme($theme) {
  $accent: map-get($theme, primary);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);

  .tile {
    @include mat-elevation(8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    align-self: center;
    background-color: mat-color($accent);
    border: 1rem solid $background-color;
    padding: 2rem;
    min-height: 200px;
    min-width: 200px;
    max-width: 400px;
    max-height: 400px;

    .tile-row-1,
    .tile-row-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .tile-row-2 {
      color: $background-color;
      font-family: "Dancing Script";
      font-variation-settings: "width"400, "weight"900;
      line-height: 2.4rem;
      font-size: 1.4rem;
      width: 100%;
    }

    p {
      color: $background-color;
      // font-family: 'Roboto-Bold', 'Helvetica Neue', sans-serif;
      font-family: "Dancing Script";
      font-variation-settings: "width"400, "weight"562;
      line-height: 2.4rem;
      font-size: 3.5rem;
    }
  }
}
