:host {
  height: 100%;

  // /* Style the header */
  // .header {
  //   color: #f1f1f1;
  //   z-index: 2;
  // }

  // /* Page content */
  // .content {
  //   padding: 16px;
  // }

  // /* The sticky class is added to the header with JS when it reaches its scroll position */
  // .sticky {
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  // }

  // /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  // .sticky + .content {
  //   padding-top: 102px;
  // }

  #header {
    // background-color: #f1f1f1; /* Grey background */
    // // padding: 50px 10px; /* Some padding */
    // color: black;
    // text-align: center; /* Centered text */
    // font-size: 90px; /* Big font size */
    // font-weight: bold;
    // position: fixed; /* Fixed position - sit on top of the page */
    // top: 0;
    // width: 100%; /* Full width */
    // transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
    z-index: 2;
  }

  .footer-wrapper {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: calc(100% - 60px);
  }

  .example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;

    .example-sidenav {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    // .svg-wrapper {
    //   padding: 2%;
    //   margin: 3%;
    // }

    app-tile {
      display: flex;
      margin: 3%;
      padding: 2%;

      .mi {
        transform: scale(2.8);
      }
    }
  }

  // .letter-l,
  // .letter-w,
  // .letter-e,
  // .letter-w-lower,
  // .letter-c-left,
  // .letter-c-right,
  // .letter-o-outer,
  // .letter-o-inner,
  // .letter-m-outer,
  // .letter-m-inner,
  // .letter-m-inner-left,
  // .letter-e-last-one {
  //   stroke-dasharray: 600;
  //   stroke-dashoffset: 600;
  //   stroke: black;
  //   animation: dash 4s linear alternate-reverse infinite;
  // }

  // @keyframes dash {
  //   to {
  //     stroke-dashoffset: 0;
  //   }
  // }
}
