<div [ngClass]="{'dark-theme': isDarkTheme | async}" class="mat-app-background">
  <!-- Sticky Header  -->
  <!-- <div class="header" id="myHeader">
    <app-toolbar></app-toolbar>
  </div> -->

  <!-- Sticky Header on Scroll -->
  <div id="header">
    <app-toolbar></app-toolbar>
  </div>

  <mat-drawer-container class="example-container">
    <mat-drawer #sidenav mode="over" class="example-sidenav" fixedInViewport="false"
      fixedTopGap="64" fixedBottomGap="0">Drawer content</mat-drawer>
    <mat-drawer-content>
      <div class="content">
        <app-tree></app-tree>
      </div>
      <div class="content">
        <button mat-raised-button color="primary" style="margin-top: 120px;"
          (click)="sidenav.toggle()">Toggle Sidenav</button>
        <app-tile>
          <mat-icon class="mi">anchor</mat-icon>
        </app-tile>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

  <div class="footer-wrapper">
    <app-footer-toolbar></app-footer-toolbar>
  </div>

</div>
